@media only screen and (max-width: 600px) {
  h1{
    font-size: 48px;
  }
  .event-wrapper{
    .gradient{
      padding: 0 4vw;
      flex-direction: column;
    }
    .title{
      width: 100%;
      h1{
        max-width: 100%;
      }
    }
    .info-wrapper{
      width: 100%;
    }
  }
  .events .event-wrapper:nth-child(even) .gradient{
    flex-direction: column;
  }
}