@import "colors.scss";

.category-page{
  margin-top: 180px;
  .category{
    text-align: center;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid black;
    top: 75px;
    background-color: $white;
    padding-top: 14px;
    z-index: 2;
    padding-bottom: 14px;
  }
  .events{
    margin-top: 48px;
  }
}