$orange: #F0A81B;
$purple: #3D1F43;
$blue: #2B1474;
$yellow: #F0F8CA;
$pink: #DF87E1;
$lavender: #6970DD;
$green: #24886c;
$white: #ededed;

.gradient{
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
    left: 0;
  }
  &.spruit-cinema{
    &:before{
      background: radial-gradient(circle, $green 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
    }
    &:after{
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $yellow 30%, $yellow 50%, $yellow 70%, rgba(255,255,255,0) 100%);
    }
  }
}

//orange
.may1, .jun1, .jul1, .aug1{
  &:before{
    background: radial-gradient(circle, $orange 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
  }
}
//purple
.mar1, .apr1, .sep1, .oct1{
  &:before{
    background: radial-gradient(circle, $purple 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
  }
}
//blue
.jan1, .feb1, .nov1, .dev1{
  &:before{
    background: radial-gradient(circle, $blue 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 100%);
  }
}

//yellow
.may2, .mar2, .jan2{
  &:after{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $yellow 35%, $yellow 50%, $yellow 65%, rgba(255,255,255,0) 100%);
  }
}
//orange
.jun2, .apr2, .feb2{
  &:after{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $orange 35%, $orange 50%, $orange 65%, rgba(255,255,255,0) 100%);
  }
}
//pink
.jul2, .sep2, .nov2{
  &:after{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $pink 35%, $pink 50%, $pink 65%, rgba(255,255,255,0) 100%);
  }
}
//lavender
.aug2, .okt2, .dec2{
  &:after{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, $lavender 35%, $lavender 50%, $lavender 65%, rgba(255,255,255,0) 100%);
  }
}



// times

.time12{
  &:before{
    margin-left: -30%;
  }
}

.time13{
  &:before{
    margin-left: -25%;
  }
}

.time14{
  &:before{
    margin-left: -20%;
  }
}

.time15{
  &:before{
    margin-left: -15%;
  }
}

.time16{
  &:before{
    margin-left: -10%;
  }
}

.time17{
  &:before{
    margin-left: -5%;
  }
}

.time18{
  &:before{
  }
}

.time19{
  &:before{
    margin-left: 5%;
  }
}

.time20{
  &:before{
    margin-left: 10%;
  }
}

.time21{
  &:before{
    margin-left: 15%;
  }
}

.time22{
  &:before{
    margin-left: 20%;
  }
}

.time23{
  &:before{
    margin-left: 25%;
  }
}

.time00{
  &:before{
    margin-left: 30%;
  }
}