body{
  font-family: "new-hero", sans-serif;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

p a{
  text-decoration: underline;
}

h1, h2, h3, h4{
  font-weight: 400;
}

h1{
  font-size: 48px;
}

.logo{
  height: 75px;
  width: auto;
  background-color: white;
  padding-top: 14px;
  cursor: pointer;
  img{
    height: 100%;
    width: auto;
  }
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: white;
  &:hover{
    #navItems{
      top: 89px;
    }
  }
  nav{
    text-align: center;
    width: 100%;
    background-color: white;
    line-height: 1.5;
    padding: 14px 0;
    .menu-link{
      width: fit-content;
      margin: auto;
      &:hover{
        border-bottom: 1px solid black;
      }
    }
  }
}

#navItems{
  position: absolute;
  top: -150px;
  transition: all 0.4s ease;
  z-index: -1;
  &.active{
    top: 89px;
  }
}

.lang-switcher{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  &:hover{
    border-bottom: 1px solid black;
  }
}

.container{
  margin-top: 110px;
}

.event-wrapper{
  margin-bottom: 48px;
  .gradient{
    background: radial-gradient(circle, rgba(223,135,225,1) 0%, rgba(242,245,247,0) 38%);
    padding: 0 2vw;
  }
  .location{
    text-align: center;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .title{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    h1{
      max-width: 300px;
    }
  }
  .date-time{
    font-size: 24px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
  }
}


.text-block{
  max-width: 900px;
  display: block;
  margin: auto;
  padding: 2vw;
}