@import "colors.scss";

body{
  font-family: "new-hero", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $white;
  width: 100vw;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

p a{
  text-decoration: underline;
}

h1, h2, h3, h4{
  font-weight: 400;
  line-height: 1.2;
}

h1{
  font-size: 64px;
}

.logo{
  height: 75px;
  width: auto;
  background-color: $white;
  padding-top: 14px;
  cursor: pointer;
  img{
    height: 100%;
    width: auto;
  }
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: $white;
  &:hover{
    #navItems{
      top: 89px;
    }
  }
  nav{
    text-align: center;
    width: 100%;
    background-color: $white;
    line-height: 1.5;
    padding: 14px 0;
    .menu-link{
      width: fit-content;
      margin: auto;
      &:hover{
        border-bottom: 1px solid black;
      }
    }
  }
}

#navItems{
  position: absolute;
  top: -150px;
  transition: all 0.4s ease;
  z-index: -1;
  &.active{
    top: 89px;
  }
}

.lang-switcher{
  position: fixed;
  top: 14px;
  right: 2vw;
  z-index: 999;
  &:hover{
    border-bottom: 1px solid black;
  }
}

.container{
  margin-top: 110px;
}

.events{
  width: 100%;
  .event-wrapper:nth-child(even){
    .gradient{
      flex-direction: row;
    }
    .title{
      text-align: left;
      justify-content: flex-start;
    }
    .info-wrapper{
      text-align: right;
    }
    .date-time{
      margin-right: 0;
      margin-left: auto;
    }
  }
}

.event-wrapper{
  margin-bottom: 48px;
  .gradient{
    padding: 48px 2vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    position: relative;
    // min-height: 40vh;
  }
  .location{
    text-align: center;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .title{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 50%;
    h1{
      max-width: 500px;
    }
  }
  .info-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .event-info{
    font-size: 18px;
    margin-bottom: 24px;
  }
  .date-time{
    font-size: 24px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
  }
}


.text-block{
  max-width: 900px;
  display: block;
  margin: auto;
  padding: 2vw;
}